<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Blog Pulmon verde</title>

    <!-- Favicon -->
    <link rel="icon" href="../assets/img/core-img/Logo1.png">


</head>

<body>
    <!-- ##### Preloader ##### -->
    <!-- <div id="preloader">
        <i class="circle-preloader"></i>
    </div> -->

    <app-header></app-header>

    <!-- informacion sobre pulmon verde -->
    <section class="informacion">
        <div class="texto-informacion">
            <h1 id="titulo">Sobre Pulmón Verde</h1>
            <h3>Bienvenidos al Blog de Pulmón Verde</h3>
            <button id="button-mas">Saber más </button>
        </div>

        <div class="img-informacion">
            <img id="img-inicio" src="../assets/img/bg-img/Personas.jpg" alt="">
        </div>
    </section>


    

<!-- informes.component.html -->

<div class="titulo-blogs">
    <h3>Últimos Informes</h3>
  </div>
  
  <div class="blogs">
    <div *ngFor="let informe of informes" class="blog-item">
      <div class="img-comunicados">
        <img [src]="informe.imageUrl" alt="Informe Image" class="informe-image">
      </div>
      <h5>{{ informe.tittle }}</h5>
      <span>Por {{ informe.author }} | {{ informe.creationDate | date }}</span>
      <p class="informe-content">{{ informe.description }}</p>
      <!-- Puedes añadir un botón para leer más detalles si es necesario -->
    </div>
  </div>
  
  


        <!-- acciones -->
    <div class="acciones">
        <h3>Pulmón Verde en acción</h3>
    </div> 
        <div class="row text-center text-lg-start">
        
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="../assets/img/blog-img/2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="../assets/img/blog-img/2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="../assets/img/blog-img/2.jpg"alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="../assets/img/blog-img/2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="../assets/img/blog-img/2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="../assets/img/blog-img/2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="../assets/img/blog-img/2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="../assets/img/blog-img/2.jpg" alt="">
                </a>
            </div>
        </div>

        <!-- seccion participacion -->
        <section class="participacion">
            <div class="texto-participacion">
                <h1 id="titulo-participación">Acciones Locales Y Participación Comunitaria:</h1>
                <p>La participación es un término complejo y cambiante en los procesos sociales que
                    se refieren al logro de objetivos comunes. En una aproximación inicial, podría
                    definirse el concepto de participación como toda acción colectiva de individuos
                    orientada a la satisfacción de determinados objetivos, cuya consecución supone la
                    existencia de una identidad colectiva anclada en la presencia de valores, intereses
                    y motivaciones compartidas que dan sustento a la existencia de un «nosotros».</p>
                <button id="button-participación"> Participa </button>
            </div>
    
            <div class="img-informacion">
                <img id="img-inicio" src="../assets/img/bg-img/Personas.jpg" alt="">
            </div>
        </section>

    <!-- ##### Top Popular Courses Area End ##### -->

    <app-footer></app-footer>

    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>