<app-header></app-header>

 <!--  Area Contac start -->
 <section class="contact-section">
    <div class="container">
        <div class="contact-info">
            <div class="contact-us">Contáctanos:</div>
            <div class="contact-description">¿Tienes preguntas, comentarios o sugerencias? ¡Nos encantaría saber de ti! Por favor, no dudes en ponerte en contacto con nosotros a través del siguiente formulario de contacto o utilizando la información de contacto proporcionada a continuación:</div>
            <div class="email-frame">
                <div class="email-label">Email</div>
                <div class="email-address">beebs&#64;gmail.com</div>
            </div>
            <div class="socials-frame">
                <div class="socials-label">Socials</div>
                <div class="social-link">Instagram</div>
                <div class="social-link">Twitter</div>
                <div class="social-link">Facebook</div>
            </div>
        </div>
        <div class="contact-form">
            <div class="form-group">
                <div class="input-label">Nombre</div>
                <input type="text" class="input-box">
            </div>
            <div class="form-group">
                <div class="input-label">Email</div>
                <input type="email" class="input-box">
            </div>
            <div class="form-group">
                <div class="input-label">Message</div>
                <textarea class="input-box message-box"></textarea>
            </div>
            <div class="form-group">
                <button class="submit-button">Enviar</button>
            </div>
        </div>
    </div>
</section>
  <!-- Area Contac end -->
<app-footer></app-footer>