<app-header></app-header>

<!-- Area Contac start -->
<section class="section">
    <div class="rectangle">
        <div class="content">
            <div class="text">
                <h2 class="section-title">Sobre Pulmón Verde</h2>
                <p class="section-text">
                    En Pulmón Verde, nos dedicamos a la conservación del medio ambiente y la lucha contra la deforestación en Colombia. Nuestra misión es proporcionar información precisa y actualizada sobre las áreas críticas de deforestación en los departamentos de Cundinamarca y Boyacá, y promover acciones para proteger nuestros bosques y la biodiversidad única de nuestra región.
                </p>
            </div>
            <div class="image">
                <img src="../assets/img/bg-img/Personas.jpg" alt="Descripción de la imagen">
            </div>
        </div>
    </div>
</section>

<!-- Sección de quienes somos -->
<section class="section">
    <div class="rectangle">
        <div class="content">
            <div class="text">
                <h2 class="section-title">Más Información sobre Nosotros:</h2>
                <div class="line"></div>
                <p class="section-text">
                    En Pulmón Verde, nuestro equipo está formado por expertos en medio ambiente, educadores y defensores de la naturaleza. Trabajamos en estrecha colaboración con organizaciones gubernamentales, ONGs y la comunidad local para desarrollar soluciones efectivas y sostenibles para la conservación de nuestros ecosistemas. Nos apasiona el poder de la educación y la colaboración para generar un cambio positivo en nuestro entorno. Creemos en el poder de la información y la acción colectiva para proteger nuestro planeta para las generaciones futuras. Únete a nosotros en nuestra misión de preservar nuestros valiosos recursos naturales y construir un futuro más verde y sostenible para todos.
                </p>
            </div>
            <div >
                <img src="../assets/img/core-img/Logo1.png" alt="Imagen Descriptiva">
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
