/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para la sección de contacto */
.section {
    margin-top: 100px; /* Ajusta este valor según sea necesario para evitar que la sección se superponga al menú de la cabecera */
}

/* Estilos para el rectángulo */
.rectangle {
    width: 100%; /* Ocupa todo el ancho disponible */
    border-radius: 47px; /* Bordes redondeados */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Sombra */
    background-color: #ffffff; /* Color de fondo */
}

/* Estilos para el contenido */
.content {
    display: flex; /* Utiliza flexbox para alinear el texto e imagen */
    align-items: center; /* Centra verticalmente */
    padding: 40px; /* Añade relleno interno */
}

/* Estilos para el texto */
.text {
    flex: 1; /* Permite que el texto ocupe el espacio restante */
    margin-right: 20px; /* Añade margen derecho al texto */
}

.section-title {
    color: #4ade59; /* Color del título */
    font-size: 48px; /* Tamaño del título */
    font-weight: 700; /* Grosor del título */
    margin-bottom: 20px; /* Espacio inferior entre el título y el párrafo */
}

.section-text {
    color: #494848; /* Color del texto */
    font-family: Montserrat; /* Fuente del texto */
    font-style: normal; /* Estilo normal */
    font-weight: 400; /* Peso normal */
    font-size: 24px; /* Tamaño del texto */
    line-height: 1.5; /* Altura de línea del texto */
    text-align: justify; /* Alineación justificada */
}

/* Estilos para la imagen */
.image {
    flex: 1; /* Permite que la imagen ocupe el espacio restante */
}

.image img {
    width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
    border-radius: 47px; /* Bordes redondeados para la imagen */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Sombra */
}

@media screen and (max-width: 768px) {
    /* Estilos para dispositivos móviles */
    .content {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
        align-items: center; /* Centra verticalmente */
        text-align: center; /* Alinea el texto al centro */
    }

    .text {
        margin-right: 0; /* Elimina el margen derecho del texto */
        margin-bottom: 20px; /* Añade margen inferior al texto */
    }

    .image {
        margin-top: 20px; /* Añade margen superior a la imagen */
    }
}


/* Estilos para el nuevo grupo */
.group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilos para el nuevo rectángulo */
.group .rectangle {
    width: 1250px;
    height: 477px;
    background: #ffffff;
    border: 3px solid #4bde5a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos para el nuevo texto */
.group .text {
    width: 100%;
    max-width: 1176px;
    text-align: left;
}

.group .section-title {
    width: 523px;
    height: 44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    color: rgba(75, 222, 90, 0.98);
}

.group .line {
    width: 490px;
    border: 1.5px solid #35b952;
    margin: 10px 0;
}

.group .section-text {
    width: 100%;
    height: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #000000;
    text-align: left;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .group .rectangle {
        width: 90%;
        height: auto;
    }

    .group .section-title {
        width: 100%;
        text-align: center;
    }

    .group .line {
        width: 90%;
    }

    .group .section-text {
        font-size: 20px;
        text-align: justify;
    }
}


/* Estilos para centrar la imagen debajo del texto */
.image_logo {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    margin-top: 20px; /* Añade margen superior para separar la imagen del texto */
}

