<!-- comentarios.component.html -->

<div class="container-fluid">
  <div class="row">
    <!-- Menú vertical -->
    <div class="col-md-2">
      <div class="vertical-menu">
        <a href="/blogUsuario">Blog Usuario</a>
        <a href="/comentarios" class="active">Comentarios</a>
        <a href="/informes">Informes</a>
        <a href="/home" class="btn btn-primary btn-back">Atrás</a>
      </div>
    </div>

    <!-- Contenido principal -->
    <div class="col-md-10">
      <div class="container">
        <h2>Agregar/Editar Comentario</h2>
        <form class="comment-form" (ngSubmit)="nuevoComentario.id ? actualizarComentario() : agregarComentario()">
          <div class="form-group">
            <input type="text" placeholder="Título" [(ngModel)]="nuevoComentario.tittle" name="tittle" class="form-control" required>
          </div>
          <div class="form-group">
            <textarea placeholder="Comentario" [(ngModel)]="nuevoComentario.comment" name="comment" class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Autor" [(ngModel)]="nuevoComentario.author" name="author" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="text" placeholder="URL de la imagen" [(ngModel)]="nuevoComentario.imageUrl" name="imageUrl" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">{{ nuevoComentario.id ? 'Actualizar' : 'Agregar' }}</button>
        </form>

        <hr>

        <h2>Lista de Comentarios</h2>
        <ul class="comment-list">
          <li *ngFor="let comentario of comentarios" class="comment-item">
            <h5>{{ comentario.tittle }}</h5>
            <p>{{ comentario.comment }} - {{ comentario.author }}</p>
            <img *ngIf="comentario.imageUrl" [src]="comentario.imageUrl" alt="Image" width="100">
            <button class="btn btn-danger" (click)="eliminarComentario(comentario.id)">Eliminar</button>
            <button class="btn btn-primary" (click)="seleccionarComentario(comentario)">Editar</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>