<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="app-container">
    <div class="formulario">
      <form [formGroup]="formMapas" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div>
            <i class="material-icons">search</i> <!-- Icono -->
          </div>
          <input type="text" #inputPlaces id="inputPlaces" formControlName="busqueda" placeholder="Buscar">
        </div>
        <div class="form-group">
          <div>
            <i class="material-icons">place</i> <!-- Icono -->
          </div>
          <input type="text" placeholder="Dirección" formControlName="direccion" />
        </div>
        <div class="form-group">
          <div>
            <i class="material-icons">apartment</i> <!-- Icono -->
          </div>
          <input type="text" placeholder="Edificio, departamento, piso (opcional)" formControlName="referencia" />
        </div>
        <div class="form-group">
          <div>
            <i class="material-icons">location_city</i> <!-- Icono -->
          </div>
          <input type="text" placeholder="Ciudad" #inputCiudad class="ciudad" formControlName="ciudad" />
        </div>
        <div class="form-group">
          <div>
            <i class="material-icons">location_on</i> <!-- Icono -->
          </div>
          <input type="text" placeholder="Provincia" #inputProvincia formControlName="provincia" />
        </div>
        <div class="form-group">
          <div>
            <i class="material-icons">map</i> <!-- Icono -->
          </div>
          <div class="half-input-container">
            <input type="text" class="half-input" placeholder="Región" #inputRegion formControlName="region" />
          </div>
        </div>
        <button class="button-cta" type="submit">Buscar</button>
      </form>
      <!-- Enlace de "volver" -->
      <a href="/home" class="button-back">
        <i class="material-icons">arrow_back</i> <!-- Icono de volver -->
        
      </a>
    </div>
    <div class="map-container">
      <div class="mapa" #divMap></div>
    </div>
</div>
